[submodule "depends/ZoomPlugins"]
	path = depends/ZoomPlugins
	url = http://code.logicalshift.co.uk/zoom/zoomplugins.git
[submodule "depends/CocoaGlk"]
	path = depends/CocoaGlk
	url = http://code.logicalshift.co.uk/zoom/cocoaglk.git
